%body
  / Navigation
  .container-fullwidth
    %nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          %button.navbar-toggle.collapsed{"data-target" => "#navbar1", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => root_path}
            %img{:src => "http://brandguide.tamu.edu/downloads/logos/TAM-PrimaryMarkA.png"}/
        #navbar1.navbar-collapse.collapse
          %ul.nav.navbar-nav
            %li
              %a{"data-toggle" => "modal", :href => "#dir"} Direction
            %li
              %a{"data-toggle" => "modal", :href => "#layer"} Layer
            %li
              %a{"data-toggle" => "modal", :href => "#path_finder"} Path Finder
          %ul.nav.navbar-nav.navbar-right
            %li
              %a{:href => root_path}
                %span.glyphicon.glyphicon-user
                Sign Up
            %li
              %a{:href => root_path}
                %span.glyphicon.glyphicon-log-in
                Login
        / /.nav-collapse
      / /.container-fluid
  #dir.modal.fade{:role => "dialog"}
    .modal-dialog
      / Modal content
      .modal-content
        .modal-header
          %button.close{"data-dismiss" => "modal", :type => "button"} ×
          %h4.modal-title Trip planner
        .modal-body
          = form_tag trip_planner_trip_planning_path, :method => :post do
            
            = label :trip_planner, :from, "From:"
            = text_field :trip_planner, :from, class:'form-control', :required => true
              
            = label :trip_planner, :to, "To:"
            = text_field :trip_planner, :to, class:'form-control', :required => true
            %br
            = submit_tag 'Find Directions', class: 'btn btn-default'
        .modal-footer
          %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
  #layer.modal.fade{:role => "dialog"}
    .modal-dialog
      / Modal content
      .modal-content
        .modal-header
          %button.close{"data-dismiss" => "modal", :type => "button"} ×
          %h4.modal-title Layers
        .modal-body
          %form{:id=>"searchForm"}
            .form-group
              %label.custom-control.custom-checkbox
                %input.custom-control-input{:id=>"bike", :name => "layer[bicycle]", :type => "checkbox", :value => "1"}/
                %span.custom-control-indicator
                %span.custom-control-description Bicycle Racks
            .form-group
              %label.custom-control.custom-checkbox
                %input.custom-control-input{:id=>"building", :name => "layer[building]", :type => "checkbox", :value => "1"}/
                %span.custom-control-indicator
                %span.custom-control-description Academic Buildings
            .form-group
              %label.custom-control.custom-checkbox
                %input.custom-control-input{:id=>"parking",:name => "layer[parking]", :type => "checkbox", :value => "1"}/
                %span.custom-control-indicator
                %span.custom-control-description Parking Lots
            .form-group
              %label.custom-control.custom-checkbox
                %input.custom-control-input{:id=>"bus",:name => "layer[bus]", :type => "checkbox", :value => "1"}/
                %span.custom-control-indicator
                %span.custom-control-description Bus Routes
            %button.btn.btn-default{:type => "submit"} Show Layers
        .modal-footer
          %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
  #path_finder.modal.fade{:role => "dialog"}
    .modal-dialog
      / Modal content
      .modal-content
        .modal-header
          %button.close{"data-dismiss" => "modal", :type => "button"} ×
          %h4.modal-title Trip planner
        .modal-body
          %form{:id=>"pathFinderForm"}
            .btn-group{"data-toggle" => "buttons", :style => "margin-bottom:20px"}
              %button.btn.btn-default{:id => "bike_route", :type => "click"}
                Bike
              %button.btn.btn-default{:id => "walk_route", :type => "click"}
                Walk
              %button.btn.btn-default{:id => "car_route", :type => "click"}
                Drive
	            %button.btn.btn-default{:id => "best_route", :type => "click"}
                Best
              %br
            .form-group
              %input#from.form-control{:type => "text", :id=>"from", :placeholder => 'Where are you going from'}/
              %br
              %input#from.form-control{:type => "text", :id=>"to", :placeholder => 'Where are you going to'}/
        .modal-footer
          %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
