%body
  / Navigation
  %nav.navbar.navbar-default.navbar-fixed-top
    .container-fluid
      .navbar-header
        %button.navbar-toggle.collapsed{"data-target" => "#navbar1", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand{:href => "http://www.tamu.edu"}
          %img{:src => "http://brandguide.tamu.edu/images/tam-primarymark.png", :width=>"228", :height=>"45"}/
      #navbar1.navbar-collapse.collapse
        %ul.nav.navbar-nav
          %li
            %a{"data-toggle" => "modal", :href => "#dir"} 
              %span.glyphicon.glyphicon-move
              Directions
          %li
            %a{"data-toggle" => "modal", :href => "#layer"} 
              %span.glyphicon.glyphicon-menu-hamburger
              Layers
        - if current_user
          %ul.nav.navbar-nav.navbar-right
            %li
              %img{:src => current_user.image_url,:height => "42", :width => "42"}/
            %li
              %a{:href => logout_path}
                Log out
        - else
          %ul.nav.navbar-nav.navbar-right
            %li
              %a{"data-toggle" => "modal", :href => "#login", :style => "align: center"}
                %span.glyphicon.glyphicon-log-in
                Login
      / /.nav-collapse
    / /.container-fluid
  #login.modal.fade{:role => "dialog"}
    #loginDlg.modal-dialog
      .modal-content
        .modal-header
          %h4.modal-title Login
        .loginStyle
          #loginImg.form-group
            %a.navbar-brand{:href => "/auth/twitter"}
              %img{:src => "http://cdn.androidbeat.com/wp-content/uploads/2014/11/image-Twitter-logo.png", :width=>"35", :height=>"35", :class => "style_image"}/
            %a.navbar-brand{:href => "/auth/google_oauth2"}
              %img{:src => "http://www.presidentialpressurewashing.net/sitebuilder/images/Red-signin-Small-press-44dp-120x120.png", :class => "style_image", :width=>"35", :height=>"35"}/
  #dir.modal.fade.modeless{:role => "dialog", "data-backdrop" => "false"}
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title Trip planner
      .modal-body
        %form{:id=>"directionsForm"}
          %label.radio-inline
            %input{:name => "optradio",:value => "Bike",:type => "radio", :checked => "checked"}/
            Bike
          %label.radio-inline
            %input{:name => "optradio",:value => "Driving",:type => "radio"}/
            Driving
          %label.radio-inline
            %input{:name => "optradio",:value => "Transit",:type => "radio"}/
            Transit
          %label.radio-inline
            %input{:name => "optradio",:value => "Walking",:type => "radio"}/
            Walking
        = form_tag trip_planner_trip_planning_path,:id=> "directionsInputForm",:method => :post do
          = label :trip_planner, :from, "From:"
          = text_field :trip_planner, :from, class:'form-control', :required => true
          = label :trip_planner, :to, "To:"
          = text_field :trip_planner, :to, class:'form-control', :required => true
          %br
          = submit_tag 'Find Directions', class: 'btn btn-default', id: 'findDirections'
          %button.btn.btn-default.pull-right{:id => "clearDirections"} Clear Directions
      .modal-footer{:id => "results",:style => "overflow-y: auto; max-height: 250px; text-align: center;"}
        %h5 No Results
  #layer.modal.fade.modeless{:role => "dialog", "data-backdrop" => "false"}
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title Layers
      .modal-body
        %form{:id=>"searchForm"}
          .form-group
            %label.custom-control.custom-checkbox
              %input.custom-control-input{:id=>"Bikes", :name => "layer[bicycle]", :type => "checkbox", :value => "1", :onclick => "toggleMarkers(this);"}/
              %span.custom-control-indicator
              %span.custom-control-description Bicycle Racks
          .form-group
            %label.custom-control.custom-checkbox
              %input.custom-control-input{:id=>"Building", :name => "layer[building]", :type => "checkbox", :value => "1", :onclick => "toggleMarkers(this);"}/
              %span.custom-control-indicator
              %span.custom-control-description Academic Buildings
          .form-group
            %label.custom-control.custom-checkbox
              %input.custom-control-input{:id=>"Parking",:name => "layer[parking]", :type => "checkbox", :value => "1", :onclick => "toggleMarkers(this);"}/
              %span.custom-control-indicator
              %span.custom-control-description Parking Lots